
:root{
    --gris: rgba(0, 0, 0, 0.212);
    --negro: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: var(--gris); */
    background-image: url(/images/fondo.jpg);
}

img{
    max-width: 100%;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.slider1{
    background-image: url(/images/llamas-purpuras.jpg);
    position: relative;
    height: 300px;
    width: 100%;
    max-width: 1000px;
    background-size: cover;
    background-position: center center;
}

 .cabecera{
    display: flex;
    justify-content: center; 
} 

.logo{
    align-items: center;
    margin-top: 50px; 
    border-radius: 30px;
}

.slider1{
    display: flex;
    justify-content: center;   
    position: relative;
}

.contenedor{
    /* background-color: grey; */
    background-color: rgb(111, 99, 117);
    max-width: 1000px;
    margin: auto;
}

/* -------------------------navegación------------------------- */
.nav{
    background-color: rgba(117, 117, 253, 0.692);
    display: flex;
    padding: 8px;
    margin-bottom: 20px;
}

.menu-hamburguesa{
    background:none;
    display: none;
    justify-content: left;
    margin-left: 5px;
}

.nav-lista, .nav-form{
    flex-grow: 1;
}

.nav-lista{
    display: flex;
    list-style: none;  
}
.nav-lista_item{
    flex-grow: 1;
}

.nav-lista_item:last-child a{
    border-right: none; 
}

.nav-lista_item-link{
    display: block;
    padding: 5px 23px;
    border-right: 1px solid var(--negro);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.nav-lista_item-link:hover{
    text-decoration:underline;
    transform: scale(1.1);
    background-color:rgb(38, 104, 226);
}

/* .nav-form{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 260px;
    right: 20px;
    height: 30px;
} */

/* ---------------------Slider de imágenes------------------- */

.slider2{
    text-align: center;
    margin-bottom: 15px;
}

/* ---------------------------Footer------------------------- */

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    border-top: 1px solid var(--negro);
    padding-bottom: 20px;
    background-color: var(--gris);
}

.footer-copy{
    border-right: 1px solid var(--negro);
}

.footer-redes{
    border-right: 1px solid var(--negro);
}

/* ----------------------Página de contacto---------------------- */

.contact{
    margin-left: 40px;
}
.contact_nav{
    padding: 20px;
}
.contact_nav-lista{
    list-style: none;
}
.contact_nav-lista_item{
    margin-bottom: 10px;
    color: white;
}
.contact_nav-lista_item-link{
    margin-left: 8px;
    color: var(--negro);
}
.icon{
    max-width: 25px;
}

/* ----------------------Página de catálogo----------------------- */

.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 20px;
}
.catalogo-elemento{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.img-catalogo{
    border: 2px solid var(--negro);
    border-radius: 10px;
}

.img-catalogo:hover{
    background-color: rgb(83, 63, 83);
    cursor: pointer;
    transform: rotate(1deg);
}

/* ----------------------Página Quiénes somos----------------------- */
.quienes-somos{
    display: flex;
    margin: 10px;
}
.presentacion{
    font-size: 20px;
    max-width: 400px;
    margin: 20px;
    margin-bottom: 20px;
}
.presentacion p{
    margin-bottom: 20px;
}
.habilidades{
    /* display: grid; */
    /* flex-direction: row; */
    /* hacer con pseudo elementos */

}

.img-presentacion{
    min-width: 180px;
    padding-bottom: 10px;
}



/*@media (max-width: 900px) {
     .nav {
       flex-wrap: wrap;
    } 

    .nav-lista_item-link{
         border-right: none;
        border: 1px solid var(--negro); 
    }

    .footer{
        font-size: 90%;
    }
}*/

/*------------------- media query solo para celulares------------------ */
@media (max-width: 900px) {
    
    .slider1{
        height: 200px;
        width: 100%;
        max-width: 100%;
    }

    .logo{
        margin-top: 30px; 
        display: flex;
        height: 130px;
    }


    .nav{
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }


    .nav-lista{
        /* display: block; */
        display: none;
        font-size: 70%;
    }

    .img-hamburguer{
        max-width: 40px;
        max-height: 35px;
    }

    .menu-hamburguesa{
        display: block;
        max-height: 40px;
        flex-direction: row-reverse;
    }

    .menu-hamburguesa:hover{
        cursor: pointer;
    }

    .menujs{
        display: none;
    }

    .desplegar{
        display: block;
    }

    .nav-lista_item:last-child a{
        border-right: 1px solid var(--negro); 
    }

    .nav-lista_item-link{
        /* border-bottom: 1px solid var(--negro); */
        border-right: none;
        border: 1px solid var(--negro);
    }

    .nav-form{
        display: block;
        align-content: center;
    }

    .footer{
        font-size: 90%;
        display: block;
        text-align: center;

    }

    .footer-copy{
        border-bottom: 1px solid var(--negro);
        border-right: none;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .footer-redes{
        border-bottom: 1px solid var(--negro);
        border-right: none;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .catalogo{
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
        margin: 10px;
    }

    .quienes-somos{
        display: block;
    }

}    


@media (max-width: 400px) {
           
}